body{
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
}
h1 {
    font-weight: bold;

}
/* Post Create Form */
.blog-create-form{
    background: #343a40;
    padding: 5px;
    color: #fff;
}
.blog-create-form input, .blog-create-form textarea, .blog-create-form select{
    width: 100%;
    border-radius: 5px;
}
.blog-create-form option{
    text-align: center;
}
.blog-create-form label{
    text-align: center;
}



/* Index Post List */
.blog-post a{
    line-height: 1;
}
.lead{
    text-align: justify;
}

/* Base: Home */
#section-bloglist{
    min-height: 80vh;
}
.div-ads{
    text-align: justify;
}
.footer{
    width:100%;
    background-color: #343a40 !important;
    bottom: 0;
}
.footer-ul{
    color: white;
    margin-bottom: 0px;
}
.footer-ul li{
    list-style: none;
    font-size: small;
}

/* Post Detail */
p{
    text-align: justify !important;
}
.blog-title a{
    font-family: 'Oswald', sans-serif;
    color: rgb(73, 9, 44);
    text-align: justify;
}
.blog-title-detail{
    font-family: 'Oswald', sans-serif;
    color: rgb(73, 9, 44);   
}

.comment-text{
    border-top: solid rgb(180, 155, 204);
    border-bottom: solid rgb(180, 155, 204);
    border-radius: 5px;
    margin: 0px auto 5px auto;
    padding: 1px;
}
.comment-author{
    color: #fff;
    background-color: rgb(236, 10, 134);
    border-radius: 5px;
    font-size: 0.8rem;
    margin-right: 5px;
}

.comments-box input{
    border-radius: 5px;
    border: 2px solid rgb(180, 155, 204);
    width: 100%;
}
.comments-box input:focus{
    border-radius: 5px;
    border: 2px solid burlywood;
}
.comments-box textarea{
    width: 100%;
    height: 50px;
    border-radius: 7px;
    border: 2px solid rgb(180, 155, 204);
}
.comments-box textarea:focus{
    height: 120px;
    border: 2px solid burlywood;
}

@media (min-width:720px){
    .blog-create-form{
        margin-left: 10px;
    }
}