{% extends 'base.html' %}
{% load static %}

{% block content %}
    
   <center><h1>LATEST NEWS</h1></center>

    {% if latest_blog_list %}
        <ul>
            {% for blog in latest_blog_list %}
                <div class="blog-post mb-3">
                    <a class="btn" href="{%  url 'blog:detail' blog.id %}">
                        <h3 class="blog-title">{{ blog.title }}</h3>
                    </a>
                    <p class="lead">{{ blog.content | slice:"0:500"| safe }}</p>

                </div>                
            {% endfor %}
        </ul>

    {% else %}
        <p>No posts available.</p>
    {% endif %}


{% endblock content %}