{% extends 'base.html' %}
{% load static %}

{% block content %}
    
   <center><h1>LATEST NEWS</h1></center>

    {% if latest_blog_list %}
        <ul>
            {% for blog in latest_blog_list %}
                <div class="blog-post mb-3">
                    
                        <h3 class="blog-title">
                            <a href="{%  url 'blog:detail' blog.id %}"></a>{{ blog.title }} </a>
                        </h3>
                    
                    <p class="lead">{{ blog.content | slice:"0:500"| safe }}</p>

                </div>                
            {% endfor %}
        </ul>

    {% else %}
        <p>No posts available.</p>
    {% endif %}


{% endblock content %}